body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1010px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:81px;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:40px;
  width:147px;
  height:81px;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2010px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 141, 226, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:-500px;
  top:141px;
  width:2010px;
  height:40px;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:2006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:141px;
  width:140px;
  height:40px;
}
#u959_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u959.mouseOver {
}
#u960 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:141px;
  width:140px;
  height:40px;
}
#u961_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u961.mouseOver {
}
#u962 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:141px;
  width:140px;
  height:40px;
}
#u963_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u963.mouseOver {
}
#u964 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:141px;
  width:140px;
  height:40px;
}
#u965_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u965.mouseOver {
}
#u966 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:141px;
  width:140px;
  height:40px;
}
#u967_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u967.mouseOver {
}
#u968 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:141px;
  width:140px;
  height:40px;
}
#u969_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u969.mouseOver {
}
#u970 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:141px;
  width:140px;
  height:40px;
}
#u971_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u971.mouseOver {
}
#u972 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:81px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文行楷 Bold', '华文行楷 Regular', '华文行楷';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#666666;
  text-align:center;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:50px;
  width:323px;
  height:81px;
  font-family:'华文行楷 Bold', '华文行楷 Regular', '华文行楷';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#666666;
  text-align:center;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:323px;
  word-wrap:break-word;
}
#u975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:78px;
  width:25px;
  height:25px;
  color:#666666;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:78px;
  width:146px;
  height:26px;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:146px;
  word-wrap:break-word;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:-500px;
  top:181px;
  width:2010px;
  height:355px;
  overflow:hidden;
}
#u979_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2010px;
  height:355px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u979_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2010px;
  height:355px;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2010px;
  height:355px;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:170px;
  width:2006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:241px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:104px;
  width:130px;
  height:241px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:112px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:279px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:66px;
  width:150px;
  height:279px;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:132px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:1148px;
  top:118px;
  width:120px;
  height:120px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:1158px;
  top:259px;
  width:100px;
  height:40px;
  font-size:16px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:15px;
  width:169px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:85px;
  width:201px;
  height:16px;
  color:#FFFFFF;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:336px;
  width:10px;
  height:10px;
}
#u994_img.mouseOver {
}
#u994.mouseOver {
}
#u995 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:336px;
  width:10px;
  height:10px;
}
#u996_img.mouseOver {
}
#u996.mouseOver {
}
#u997 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:336px;
  width:10px;
  height:10px;
}
#u998_img.mouseOver {
}
#u998.mouseOver {
}
#u999 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2010px;
  height:355px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u979_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2010px;
  height:355px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2010px;
  height:355px;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:170px;
  width:2006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:206px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:83px;
  width:428px;
  height:206px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:95px;
  width:424px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:32px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:39px;
  width:305px;
  height:34px;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:32px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  white-space:nowrap;
}
#u1006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:45px;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:218px;
  width:184px;
  height:45px;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:45px;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:114px;
  width:184px;
  height:45px;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:45px;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:114px;
  width:184px;
  height:45px;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:129px;
  width:113px;
  height:16px;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:1238px;
  top:129px;
  width:113px;
  height:16px;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:233px;
  width:113px;
  height:16px;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:336px;
  width:10px;
  height:10px;
}
#u1018_img.mouseOver {
}
#u1018.mouseOver {
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:336px;
  width:10px;
  height:10px;
}
#u1020_img.mouseOver {
}
#u1020.mouseOver {
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:336px;
  width:10px;
  height:10px;
}
#u1022_img.mouseOver {
}
#u1022.mouseOver {
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2010px;
  height:355px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u979_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2010px;
  height:355px;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2010px;
  height:355px;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:170px;
  width:2006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:336px;
  width:10px;
  height:10px;
}
#u1026_img.mouseOver {
}
#u1026.mouseOver {
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:336px;
  width:10px;
  height:10px;
}
#u1028_img.mouseOver {
}
#u1028.mouseOver {
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:336px;
  width:10px;
  height:10px;
}
#u1030_img.mouseOver {
}
#u1030.mouseOver {
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:517px;
  width:10px;
  height:10px;
}
#u1032_img.mouseOver {
}
#u1032.mouseOver {
}
#u1033 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1034 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:517px;
  width:10px;
  height:10px;
}
#u1034_img.mouseOver {
}
#u1034.mouseOver {
}
#u1035 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:517px;
  width:10px;
  height:10px;
}
#u1036_img.mouseOver {
}
#u1036.mouseOver {
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:517px;
  width:10px;
  height:10px;
}
#u1038_img.mouseOver {
}
#u1038.mouseOver {
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:517px;
  width:10px;
  height:10px;
}
#u1040_img.mouseOver {
}
#u1040.mouseOver {
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:517px;
  width:10px;
  height:10px;
}
#u1042_img.mouseOver {
}
#u1042.mouseOver {
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:1442px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:546px;
  width:749px;
  height:1442px;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:713px;
  width:745px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:557px;
  width:23px;
  height:25px;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:600px;
  width:240px;
  height:146px;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:65px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:149px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:600px;
  width:197px;
  height:149px;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u1053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:46px;
  background:inherit;
  background-color:rgba(40, 154, 223, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:546px;
  width:240px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:236px;
  word-wrap:break-word;
}
#u1055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:46px;
  background:inherit;
  background-color:rgba(40, 154, 223, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:756px;
  width:240px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:236px;
  word-wrap:break-word;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:812px;
  width:240px;
  height:240px;
}
#u1057_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:246px;
  height:246px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:245px;
}
#u1059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  text-align:center;
}
#u1059_img.mouseOver {
}
#u1059.mouseOver {
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:240px;
  word-wrap:break-word;
}
#u1061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:240px;
  height:40px;
}
#u1061_img.mouseOver {
}
#u1061.mouseOver {
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  word-wrap:break-word;
}
#u1063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:240px;
  height:40px;
}
#u1063_img.mouseOver {
}
#u1063.mouseOver {
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  word-wrap:break-word;
}
#u1065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:240px;
  height:40px;
  font-size:14px;
}
#u1065_img.mouseOver {
}
#u1065.mouseOver {
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  word-wrap:break-word;
}
#u1067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:240px;
  height:40px;
  font-size:14px;
}
#u1067_img.mouseOver {
}
#u1067.mouseOver {
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  word-wrap:break-word;
}
#u1069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:240px;
  height:40px;
  font-size:14px;
}
#u1069_img.mouseOver {
}
#u1069.mouseOver {
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  word-wrap:break-word;
}
#u1071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:557px;
  width:19px;
  height:20px;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:770px;
  width:20px;
  height:16px;
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:709px;
  height:902px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:25px;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:1074px;
  width:709px;
  height:902px;
  line-height:25px;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:709px;
  word-wrap:break-word;
}
#u1077_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:709px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#48A5DD;
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:561px;
  width:709px;
  height:33px;
  font-size:28px;
  color:#48A5DD;
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:709px;
  word-wrap:break-word;
}
#u1080_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2010px;
  height:301px;
  background:inherit;
  background-color:rgba(0, 141, 226, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:-500px;
  top:1998px;
  width:2010px;
  height:301px;
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:2006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1082_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:186px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u1082 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:2037px;
  width:420px;
  height:186px;
  font-size:13px;
  color:#FFFFFF;
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:420px;
  word-wrap:break-word;
}
#u1084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u1084 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:2045px;
  width:150px;
  height:150px;
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1086_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:2238px;
  width:137px;
  height:16px;
  font-size:13px;
  color:#FFFFFF;
}
#u1087 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u1088_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u1088 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:2238px;
  width:131px;
  height:16px;
  font-size:13px;
  color:#FFFFFF;
}
#u1089 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u1090_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u1090 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:2207px;
  width:170px;
  height:16px;
  font-size:13px;
  color:#FFFFFF;
}
#u1091 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u1092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:709px;
  height:443px;
}
#u1092 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:611px;
  width:709px;
  height:443px;
}
#u1093 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:214px;
  width:705px;
  visibility:hidden;
  word-wrap:break-word;
}
